version: '3.8'
services:
  back:
    container_name: air-flight-tracker-worker
    build:
      context: ./
      target: dev
    restart: always
    env_file: .env
    volumes:
      - .:/src
    command: npm run dev
    ports:
      - "7000:7000"
    environment:
      NODE_ENV: production
      DEBUG: nodejs-docker-express:*
